<%- model_class = Board -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:name) %>:</strong></dt>
  <dd><%= @board.name %></dd>
  <dt><strong><%= model_class.human_attribute_name(:public) %>:</strong></dt>
  <dd><%= @board.public %></dd>
</dl>

<div class="form-actions">
  <%= link_to t('.back', :default => t("helpers.links.back")),
              boards_path, :class => 'btn'  %>
  <%= link_to t('.edit', :default => t("helpers.links.edit")),
              edit_board_path(@board), :class => 'btn' %>
  <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
              board_path(@board),
              :method => 'delete',
              :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
              :class => 'btn btn-danger' %>
</div>
